* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(theme.png);
    background-size: cover;
    background-position: top;
    font-family: 'Open Sans', sans-serif;

}

.form-box {
    width: 400px;
    background:  #bd9090;
    margin: 12% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0, 5);
    border-radius: 12px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    background-color: #bd9090;;
}

.input-box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;

}

.input-box input {
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
}

::placeholder {
    color: blueviolet;
}

.fa {
    margin-right: 10px;
}

.eye {
    position: absolute;
}

#hide1 {
    display: none;
}

.login_btn {
    margin: 40px auto 20px;
    width: 40%;
    display: block;
    outline: invert;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    border: 1px solid black;
    cursor: pointer;
    background: none;
    font-weight: bold;
    background-color: #fff;
    color: black;
    font-size: 16px;
    transition-duration: 0.4s;
}

.login_btn:hover {
    background-color: #8ceb8f;
    color: white;
}

.login_btn:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #eff0f1;
    transform:(4px);
}